button {
  border-color:#202020;
  width: 10em;
  height: 8em;
  margin: 10px;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.row {
  flex: 1;
  flex-direction: row;
}